@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
  font-family: sans-serif;
  font-size: 11px;
  background-color: #c1f7d0;
}

header{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.gridBox {
  float: left;
  background-repeat: no-repeat;
  background-position: 0 0px;
  background-color: white;
  background-size: 200px 226px;
  border: 0px solid #666;
  width: 200px;
  height: 226px;
}

.gridBox:hover {
  background-color: #f9bd5f;
  cursor: pointer;
}

.gridBox.active, .gridbox.active:hover {
  background-color: #e6f95f;
  background-position: 0 0px;
  cursor: auto;
}

a:link, a:visited {
	color: #39f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {

}

h1 em {
	font-weight: 200;
	font-style: normal;
}

h2 {
	font-size: 1.3em;
	padding: 1em;
	padding-bottom: 0.8em;
}

h1:before {
	content:"SOUNDJS ";
}
