@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: verdana;
  color: #262f38;
}

header {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

a {
  color: #000;
}

a:hover {
  color: #81ecf6;
}

aside {
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

main {
  clear: both;
  margin-left: 220px;
  margin-top: 40px;
}

h1 {
  font-size: 24px;
  text-align: center;
  background-color: #c3eef2;
  padding: 10px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 20px;
  margin-left: 30px;
}

nav {
  display: block;
  font-size: 12px;
  margin: 10px;
  line-height: 26px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  clear: left;
  margin-left: 680px;
}

.column {
  float: left;
  background: #d2ede3;
  width: 250px;
  height: 440px;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-radius: 20px;
}
